<!DOCTYPE html>
<head>
    <title>Error 404 - Page Not Found</title>
</head>
<style> 
    html, 
    body { 
        margin: 0; 
        padding: 0; 
        height: 100%; 
    } 

    .gfg-box { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
    } 

    .box { 
        padding: 8px 35px; 
        font-size: 30px; 
        color: black; 
        border: 10px solid black; 
    } 
</style> 
<body>
    <div class="gfg-box"> 
        <div class="box"> 
            <h1>404</h1> 
            <h3>This page could not be found</h3>
            <i>Epoch Link Shortener Service</i>
        </div> 
    </div> 
</body>