<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/404.css">
    <link rel="stylesheet" href="/static/css/epoch.css">
    <meta charset="utf-8">
    <meta property="og:title" content="404" />
    <meta property="og:description" content="Page Not Found" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404 - Page Not Found</title>
</head>

<body class="epoch-dark epoch-font">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
            </div>
            <br /> <br><br><br>
			<p style="color: #EEF0F2;">The page you are looking for could not be found.</p>
			<br><br><br>
			<a href="https://epochml.org"><img src="https://epochml.org/assets/epochCroppedLogoNoBackground.png" height="60"></a>
		</div>
	</div>

</body>

</html>
