<!DOCTYPE html>
<head>
    <title>Error 404 - Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="404" />
    <meta property="og:description" content="Page Not Found" />
</head>
<style> 
    html, 
    body { 
        margin: 0; 
        padding: 0; 
        height: 100%; 
    } 

    .gfg-box { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
    } 

    .box { 
        padding: 8px 35px; 
        font-size: 30px; 
        color: black; 
        border: 10px solid black; 
    } 
</style> 
<body>
    <div class="gfg-box"> 
        <div class="box"> 
            <h1>500</h1> 
            <h3>An internal service error occured. Please try again.</h3>
            <i>Epoch Link Shortener Service</i>
        </div> 
    </div> 
</body>