<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/404.css">
		<link rel="stylesheet" href="/static/css/epoch.css">
		<meta charset="utf-8">
		<meta property="og:title" content="500" />
		<meta property="og:description" content="Internal Server Error" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Error 500 - Internal Server Error</title>
	</head>
	<body class="epoch-dark epoch-font">
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-404">
					<h1>500</h1>
				</div>
				<br /> <br><br><br>
				<p style="color: #EEF0F2; font-size: 1.25em;">There was a problem processing your request. Please, try again.</p>
				<p style="color: #EEF0F2; font-size: 1.25em;"></p>
				<br><br><br>
				<a href="https://epochml.org"><img src="https://epochml.org/assets/epochCroppedLogoNoBackground.png" height="60"></a>
			</div>
		</div>
	</body>
</html>
