<!DOCTYPE html>
<head>
    <title>Epoch Link Shortener</title>
    <meta property="og:title" content="Epoch Link Shortener" />
</head>
<script>
    function isURL(str) {
        const pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
        '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
        return !!pattern.test(str);
    }

    async function submitData() {
        const url = document.getElementById("url").value
        if (!isURL(url)) {
            alert("The URL is not valid. Please input a new URL")
            return
        }
        const name = document.getElementById("name").value
        if (name === ""){
            alert("Please enter a short URL")
            return
        }
        const response = await fetch(`/addURL?url=${url}&name=${name}`, {
            method: "POST"
        })
        if (response.status === 200) {
            alert("Link shortened successfully!")
        } else {
            const resp = await response.json();
            alert(resp.message)
        }
    }
</script>
<body>
    <h1>Welcome to the Epoch Link Shortener!</h1>
    <h2>You are signed in as {{name}} ({{email}})</h2>
    <h3>Your email address will be logged when you shorten a URL.</h3>
    <label for="url">URL to shorten:</label>
    <input type="text" id="url" name="url"><br><br>
    <label for="name">Shorten path:</label>
    <input type="text" id="name" name="name"><br><br>
    <button onclick="submitData()">Shorten!</button>
</body>