<!DOCTYPE html>
<head>
    <title>Epoch Link Shortener</title>
    <meta property="og:title" content="Epoch Link Shortener" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<script>
    function isURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
        '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(str);
    }
    async function handleRemove(name) {
        const sure = confirm(`Are you sure you would like to remove this link? Anyone visiting https://{{baseURL}}/${name} will recieve an error!`);
        if (!sure) {
            alert("Remove cancelled.")
            return
        }
        const response = await fetch(`/deleteLink?name=${name}`, {
            method: "DELETE"
        })
        const parsed = await response.json()
        if (response.status !== 200) {
            alert(parsed.message)
        } else  {
            alert("URL removed successfully!")
            document.getElementById(`urldata-${name}`).parentNode.removeChild(document.getElementById(`urldata-${name}`))
        }
    }
    async function handleEdit(name, url) {
        let newURL;
        while (!isURL(newURL)) {
            newURL = prompt("Please enter a valid new URL", url);
            if (newURL === null) {
                return
            }
        }
        const response = await fetch(`/updateLink?name=${name}&url=${newURL}`, {
            method: "PUT"
        })
        if (response.status !== 200) {
            alert(parsed.message)
        } else  {
            alert(`URL changed to ${newURL}!`)
            document.getElementById(`urldata-${name}-url`).innerHTML = newURL
            document.getElementById(`urldata-${name}-url`).href = newURL
        }
    }
</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <img src="https://epochml.org/assets/epochCroppedLogoNoBackground.png" height="30">
            <a class="navbar-brand text-light" href="/">&nbsp;&nbsp;Link Shortener</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto flex-nowrap mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light active" aria-current="page" href="#">My Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="float: right; margin-right: 0;">
                        <i class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Signed in as {{name}}
                            ({{email}})</i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container">
        <h1 style="text-align: center;">Your shortened links</h2>
            <br />
            <table style="width:100%" class="table table-striped">
                <tr>
                    <th style="text-align: center;" scope="col">Original URL</th>
                    <th style="text-align: center;" scope="col">Shortened URL</th>
                    <th style="text-align: center;" scope="col">Actions</th>
                </tr>
                {{#data}}
                <tr id="urldata-{{name}}">
                    <td style="text-align: center;"><a id="urldata-{{name}}-url" href="{{url}}">{{url}}</a></td>
                    <td style="text-align: center;"><a href="https://{{baseURL}}/{{name}}">https://{{baseURL}}/{{name}}</a></td>
                    <td style="text-align: center;"><button type="button" class="btn btn-danger" onclick="handleRemove('{{name}}', '{{url}}')">Remove Link</button><a>&nbsp;</a><button type="button" class="btn btn-warning" onclick="handleEdit('{{name}}')">Edit Link</button></a></td>
                </tr>
                {{/data}}
            </table>
    </div>

</body>